html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  border: none;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
label {
  cursor: pointer;
}

legend {
  display: block;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
:root {
  --main-color: #000000;
  --accent-color: #FBDC4D;
  --bg-color: #EFF7FC;
  --link-color: #1A71D2;
  --hover-color: #FF543E;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  color: var(--main-color);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wrapper > * {
  /* sticky footer */
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer {
  /* sticky footer */
  margin-top: auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  /* Tablet big */
  /* Tablet small */
  /* Mobile */
  /* Mobile XS */
}
.container--mobile {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1139px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

.container-small {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  /* Mobile */
}
@media (max-width: 767px) {
  .container-small {
    width: 320px;
  }
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin-left: -10000px;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  clip: rect(0 0 0 0);
  background: transparent;
}

.title-gradient__wrap {
  margin-bottom: 30px;
}
@media (max-width: 1139px) {
  .title-gradient__wrap {
    margin-bottom: 23px;
  }
}
@media (max-width: 899px) {
  .title-gradient__wrap {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .title-gradient__wrap {
    margin-bottom: 15px;
  }
}

.title-gradient__wrap .title-gradient {
  display: inline;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(#FBDC4D), to(#FBDC4D));
  background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
}

.title-gradient__wrap .title-gradient.title-1 {
  background-position: center bottom 15px;
  background-size: 100% 12px;
}
@media (max-width: 1139px) {
  .title-gradient__wrap .title-gradient.title-1 {
    background-position: center bottom 11px;
    background-size: 100% 10px;
  }
}
@media (max-width: 899px) {
  .title-gradient__wrap .title-gradient.title-1 {
    background-position: center bottom 6px;
    background-size: 100% 8px;
  }
}
@media (max-width: 767px) {
  .title-gradient__wrap .title-gradient.title-1 {
    background-position: center bottom 4px;
  }
}

.title-gradient__wrap .title-gradient.title-2 {
  background-size: 100% 8px;
  background-position: center bottom 10px;
}
@media (max-width: 1139px) {
  .title-gradient__wrap .title-gradient.title-2 {
    background-position: center bottom 7px;
  }
}
@media (max-width: 899px) {
  .title-gradient__wrap .title-gradient.title-2 {
    background-position: center bottom 3px;
  }
}

.title-1 {
  max-width: 535px;
  font-weight: 700;
  font-size: 78px;
  line-height: 1;
}
@media (max-width: 1139px) {
  .title-1 {
    font-size: 58px;
  }
}
@media (max-width: 899px) {
  .title-1 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .title-1 {
    font-size: 32px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
}
@media (max-width: 1139px) {
  .title-2 {
    font-size: 42px;
  }
}
@media (max-width: 899px) {
  .title-2 {
    font-size: 32px;
  }
}

.title-3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
}
@media (max-width: 1139px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (max-width: 899px) {
  .title-3 {
    font-size: 24px;
  }
}

.title-4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
@media (max-width: 1139px) {
  .title-4 {
    font-size: 20px;
  }
}

.logo {
  display: none;
  width: 40px;
  height: 40px;
}
.logo__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 899px) {
  .logo {
    display: block;
    pointer-events: none;
  }
}

label.error {
  color: #ff0000;
  font-weight: 600;
  font-size: 14px;
}

.header {
  padding: 84px 0 90px;
}
@media (max-width: 1139px) {
  .header {
    padding: 60px 0 60px;
  }
}
@media (max-width: 899px) {
  .header {
    padding: 30px 0 40px;
  }
}
.header__fix {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}
.header .header__scroll,
.header .header__scroll--mobile {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header .header__scroll .header__top {
  padding: 20px 0;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
.header__top {
  padding: 60px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
@media (max-width: 1139px) {
  .header__top {
    padding: 60px 0 30px;
  }
}
@media (max-width: 899px) {
  .header__top {
    display: none;
  }
}
.header__main {
  padding-top: 100px;
}
@media (max-width: 899px) {
  .header__main {
    padding-top: 52px;
  }
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 899px) {
  .header__social {
    display: none;
  }
}
.header__social-link {
  outline: none;
}
.header__social-link:not(:last-child) {
  margin-right: 26px;
}
.header__social-link:focus .icon-telegram,
.header__social-link:focus .icon-github {
  fill: #595959;
}
.header__social-link:hover .icon-telegram,
.header__social-link:hover .icon-github {
  fill: #595959;
}
.header__social-link:active .icon-telegram,
.header__social-link:active .icon-github {
  fill: #595959;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 899px) {
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}
.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 542px;
      flex-basis: 542px;
  margin-right: 95px;
  padding-top: 19px;
}
@media (max-width: 1139px) {
  .header__content {
    -ms-flex-preferred-size: 418px;
        flex-basis: 418px;
    margin-right: 80px;
    padding-top: 10px;
  }
}
@media (max-width: 899px) {
  .header__content {
    padding-top: 26px;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media (max-width: 767px) {
  .header__content {
    padding-top: 0;
    margin-right: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.header__descr,
.header .auto-type {
  margin-bottom: 30px;
  line-height: 1.59;
  max-width: 540px;
}
@media (max-width: 1139px) {
  .header__descr,
  .header .auto-type {
    margin-bottom: 25px;
    font-size: 18px;
    max-width: 418px;
  }
}
@media (max-width: 899px) {
  .header__descr,
  .header .auto-type {
    font-size: 16px;
    max-width: 100%;
  }
}
@media (max-width: 899px) {
  .header__links {
    display: none;
  }
}
.header__image {
  position: relative;
  -ms-flex-preferred-size: 475px;
      flex-basis: 475px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  -webkit-box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
          box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1139px) {
  .header__image {
    -ms-flex-preferred-size: 376px;
        flex-basis: 376px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 899px) {
  .header__image {
    -ms-flex-preferred-size: 290px;
        flex-basis: 290px;
  }
}
@media (max-width: 767px) {
  .header__image {
    display: none;
  }
}
.header__img {
  width: 475px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1139px) {
  .header__img {
    width: 376px;
    height: 325px;
  }
}
@media (max-width: 899px) {
  .header__img {
    width: 290px;
    height: 250px;
  }
}
.header .header__image--mobile {
  display: none;
}
@media (max-width: 767px) {
  .header .header__image--mobile {
    display: block;
    margin-bottom: 10px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.header__bg {
  max-width: 1440px;
  margin: -155px auto 0 auto;
}
@media (max-width: 1139px) {
  .header__bg {
    max-width: 100%;
    margin: -80px auto 0 auto;
  }
}
@media (max-width: 899px) {
  .header__bg {
    margin: -90px auto 0 auto;
  }
}
@media (max-width: 767px) {
  .header__bg {
    margin: -25px auto 0 auto;
  }
}
.header__bg-image {
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.github-icon {
  width: 42px;
  height: 42px;
}
@media (max-width: 1139px) {
  .github-icon {
    width: 36px;
    height: 36px;
  }
}

.icon-linkedin {
  width: 32px;
  height: 32px;
  fill: var(--main-color);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.icon-telegram {
  width: 42px;
  height: 42px;
  fill: var(--main-color);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.icon-github {
  width: 42px;
  height: 42px;
  fill: var(--main-color);
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

/*header-mobile top*/
.header-mobile {
  display: none;
  padding: 20px 0;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
@media (max-width: 899px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 40px 0 50px;
  background-color: #333333;
}
@media (max-width: 1139px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__copyright {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 1.375;
}
.footer__text {
  max-width: 825px;
  font-size: 16px;
  line-height: 1.5;
  color: #B0B0B0;
}
@media (max-width: 1139px) {
  .footer__text {
    max-width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 899px) {
  .footer__text p + p {
    padding-top: 16px;
  }
}
.footer__link {
  text-decoration: underline;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 899px) {
  .nav {
    display: none;
  }
}
.nav__link + .nav__link {
  margin-left: 100px;
}
@media (max-width: 1139px) {
  .nav__link + .nav__link {
    margin-left: 50px;
  }
}
.nav__link {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  outline: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
@media (max-width: 1139px) {
  .nav__link {
    font-size: 18px;
  }
}
.nav__link:focus, .nav__link:hover, .nav__link:active {
  color: var(--hover-color);
}

.nav__link.active {
  color: var(--hover-color);
}

.about {
  margin-top: -35px;
}
@media (max-width: 1139px) {
  .about {
    margin-top: -14px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-top: 0;
    padding-top: 11px;
  }
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__skills {
  margin-right: 30px;
  max-width: 635px;
  width: 100%;
}
@media (max-width: 1139px) {
  .about__skills {
    max-width: 493px;
  }
}
@media (max-width: 899px) {
  .about__skills {
    max-width: 354px;
  }
}
@media (max-width: 767px) {
  .about__skills {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }
}
.about__title {
  margin-bottom: 30px;
}
@media (max-width: 1139px) {
  .about__title {
    margin-bottom: 20px;
  }
}
.about__skills-item {
  padding-left: 30px;
  position: relative;
}
@media (max-width: 1139px) {
  .about__skills-item {
    font-size: 18px;
    padding-left: 24px;
  }
}
@media (max-width: 899px) {
  .about__skills-item {
    font-size: 16px;
    padding-left: 0;
  }
}
.about__skills-item + .about__skills-item {
  margin-top: 10px;
}
.about__skills-item::before {
  content: '\2014';
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 1px;
  color: var(--main-color);
}
@media (max-width: 899px) {
  .about__skills-item::before {
    display: none;
  }
}
.about__social-links {
  margin-bottom: 12px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-links__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 899px) {
  .social-links__item:not(:last-child) {
    margin-right: 20px;
  }
}
.social-links--mobile .social-links__item:not(:last-child) {
  margin-right: 20px;
}
.social-links__link {
  width: 48px;
  height: 48px;
}
.social-links__link:hover .social-links__img {
  opacity: 0.75;
}
@media (max-width: 899px) {
  .social-links__link {
    width: 38px;
    height: 38px;
  }
}
.social-links__img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
@media (max-width: 899px) {
  .social-links__img {
    width: 38px;
    height: 38px;
  }
}

.link {
  font-weight: 600;
  color: var(--link-color);
  outline: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.link:focus, .link:hover, .link:active {
  color: var(--hover-color);
}
@media (max-width: 899px) {
  .link {
    font-size: 18px;
  }
}

.button {
  padding: 19px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  border-radius: 50px;
  outline: none;
  background-color: var(--bg-color);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.button:focus, .button:hover {
  background-color: #D1EDFF;
}
.button:active {
  background-color: #B0DCF8;
}
.button--accent {
  background-color: var(--accent-color);
}
.button--accent:focus, .button--accent:hover {
  background-color: #FFEB8D;
}
.button--accent:active {
  background-color: #F5D22D;
}
@media (max-width: 1139px) {
  .button {
    padding: 16px 26px;
  }
}

.button + .button {
  margin-left: 20px;
}

.menu-btn {
  display: none;
}
@media (max-width: 899px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
.menu-btn span {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: var(--main-color);
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.menu-btn::before, .menu-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  left: 0;
  background-color: var(--main-color);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.menu-btn::before {
  top: 0;
}
.menu-btn:after {
  bottom: 0;
}

.menu-btn--active {
  position: fixed;
  right: 15px;
}
.menu-btn--active span {
  opacity: 0;
}
.menu-btn--active::before, .menu-btn--active::after {
  top: 10px;
}
.menu-btn--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-btn--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-mobile {
  padding: 30px 15px 40px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 320px;
  z-index: 99;
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.menu-mobile--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-shadow: -10px 0 15px rgba(35, 53, 76, 0.5);
          box-shadow: -10px 0 15px rgba(35, 53, 76, 0.5);
}
.menu-mobile--active .logo {
  display: none !important;
}
.menu-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-mobile__link {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.menu-mobile__link:focus, .menu-mobile__link:hover, .menu-mobile__link:active {
  color: var(--hover-color);
}
.menu-mobile__link:last-child {
  margin-bottom: 0;
}
.menu-mobile__contacts {
  margin-top: auto;
}
.menu-mobile__social-links {
  margin-bottom: 20px;
}

.overlay {
  background-color: rgba(37, 73, 116, 0.8);
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.overlay--active {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.form {
  padding: 62px 50px 50px 50px;
  width: 540px;
  height: 449px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 100px rgba(160, 206, 237, 0.75);
          box-shadow: 0px 20px 100px rgba(160, 206, 237, 0.75);
  position: relative;
  z-index: 2;
}
@media (max-width: 1139px) {
  .form {
    padding: 44px 30px 40px;
    width: 460px;
    height: 420px;
  }
}
@media (max-width: 899px) {
  .form {
    padding: 44px 30px 40px;
    width: 370px;
    min-height: 410px;
  }
}
@media (max-width: 767px) {
  .form {
    padding: 25px 15px 40px;
    max-width: 100%;
  }
}
.form__item {
  position: relative;
}
.form__item:first-child {
  margin-bottom: 42px;
}
@media (max-width: 767px) {
  .form__item:first-child {
    margin-bottom: 0;
  }
}
.form__item:nth-child(2) {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .form__item:nth-child(2) {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .form__item:nth-child(2) .form__fake-placeholder--active {
    top: 20px;
  }
}
.form__fake-placeholder {
  position: absolute;
  display: inline-block;
  top: 8px;
  left: 0;
  color: #9D9D9D;
  font-size: 22px;
  line-height: 1.6;
  pointer-events: none;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
@media (max-width: 767px) {
  .form__fake-placeholder {
    top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
}
.form__fake-placeholder--active {
  top: -7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #ECA73F;
}
@media (max-width: 767px) {
  .form__fake-placeholder--active {
    top: -4px;
  }
}
.form__input {
  padding: 0 5px 0 2px;
  display: block;
  width: 100%;
  height: 53px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline: none;
  border-bottom: solid 2px #e5e5e5;
}
@media (max-width: 767px) {
  .form__input {
    padding: 0 5px 0px 2px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
  }
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 1.6;
  color: #9D9D9D;
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  font-size: 22px;
  line-height: 1.6;
  color: #9D9D9D;
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-size: 22px;
  line-height: 1.6;
  color: #9D9D9D;
}
.form__input::placeholder, .form__textarea::placeholder {
  font-size: 22px;
  line-height: 1.6;
  color: #9D9D9D;
}
@media (max-width: 1139px) {
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    font-size: 20px;
  }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    font-size: 20px;
  }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    font-size: 20px;
  }
  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 20px;
  }
}
@media (max-width: 899px) {
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.3;
  }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.3;
  }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.3;
  }
  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 18px;
    line-height: 1.3;
  }
}
@media (max-width: 767px) {
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    font-size: 16px;
  }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    font-size: 16px;
  }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    font-size: 16px;
  }
  .form__input::placeholder, .form__textarea::placeholder {
    font-size: 16px;
  }
}
.form__input:focus, .form__input:active, .form__textarea:focus, .form__textarea:active {
  border-bottom: solid 2px var(--hover-color);
}
.form__textarea {
  padding-top: 17px;
  padding-right: 8px;
  min-height: 125px;
  width: 100%;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  resize: none;
  outline: none;
  border-bottom: solid 2px #e5e5e5;
}
@media (max-width: 767px) {
  .form__textarea {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    min-height: 205px;
  }
}
.form__btn {
  display: inline-block;
}
@media (max-width: 767px) {
  .form__btn {
    display: block;
    width: 100%;
  }
}

.portfolio {
  padding: 80px 0 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5FBFF), to(#F5FBFF)), #F4F8F9;
  background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}
@media (max-width: 1139px) {
  .portfolio {
    padding: 40px 0 60px;
  }
}
@media (max-width: 899px) {
  .portfolio {
    padding: 30px 0 40px;
  }
}
.portfolio__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px 30px;
}
@media (max-width: 1139px) {
  .portfolio__inner {
    grid-gap: 40px 30px;
  }
}
@media (max-width: 899px) {
  .portfolio__inner {
    grid-gap: 20px 30px;
  }
}
@media (max-width: 767px) {
  .portfolio__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
}
.portfolio .title-gradient__wrap {
  margin-bottom: 50px;
}
@media (max-width: 1139px) {
  .portfolio .title-gradient__wrap {
    margin-bottom: 36px;
  }
}
@media (max-width: 899px) {
  .portfolio .title-gradient__wrap {
    margin-bottom: 30px;
  }
}
.portfolio__swiper-wrap {
  width: calc(50% + 50vw);
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}
.portfolio__swiper-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.portfolio__nav {
  margin-bottom: 20px;
  white-space: nowrap;
}
.portfolio__nav-btn {
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 50px;
  background-color: transparent;
}
@media (max-width: 767px) {
  .portfolio__nav-btn {
    margin-right: 30px;
    font-size: 18px;
  }
}
.portfolio__nav-btn.mixitup-control-active {
  color: var(--hover-color);
}
.portfolio__item {
  grid-column: 2 span;
}
@media (max-width: 767px) {
  .portfolio__item {
    grid-column: 1;
  }
}
.portfolio__link {
  max-width: 350px;
  width: 100%;
}
@media (max-width: 1139px) {
  .portfolio__link {
    max-width: 270px;
  }
}
@media (max-width: 899px) {
  .portfolio__link {
    max-width: 226px;
  }
}
@media (max-width: 767px) {
  .portfolio__link {
    max-width: 100%;
  }
}
.portfolio__link:hover .portfolio__image::before {
  opacity: 1;
}
.portfolio__link:hover .portfolio__name {
  color: var(--hover-color);
}
.portfolio__link:hover .portfolio__see {
  opacity: 1;
}
.portfolio .portfolio__image {
  margin-bottom: 16px;
  height: 220px;
  position: relative;
}
@media (max-width: 1139px) {
  .portfolio .portfolio__image {
    margin-bottom: 10px;
    height: 169px;
  }
}
@media (max-width: 899px) {
  .portfolio .portfolio__image {
    height: 140px;
  }
}
@media (max-width: 767px) {
  .portfolio .portfolio__image {
    height: 180px;
  }
}
.portfolio .portfolio__image::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 221, 85, 0.75)), to(rgba(255, 221, 85, 0.75)));
  background: linear-gradient(0deg, rgba(255, 221, 85, 0.75), rgba(255, 221, 85, 0.75));
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.portfolio__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__see {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  min-width: 208px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  background-color: var(--hover-color);
  border-radius: 80px;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.portfolio__name {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1139px) {
  .portfolio__name {
    margin-bottom: 4px;
    font-size: 18px;
  }
}
.portfolio__descr {
  font-size: 18px;
  margin-top: auto;
}
@media (max-width: 1139px) {
  .portfolio__descr {
    font-size: 14px;
  }
}
.portfolio__item--large {
  grid-column: 3 span;
}
@media (max-width: 767px) {
  .portfolio__item--large {
    grid-column: 1;
  }
}
.portfolio__item--large .portfolio__link {
  max-width: 540px;
  width: 100%;
}
@media (max-width: 1139px) {
  .portfolio__item--large .portfolio__link {
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .portfolio__item--large .portfolio__link {
    max-width: 354px;
  }
}
@media (max-width: 767px) {
  .portfolio__item--large .portfolio__link {
    max-width: 100%;
  }
}
.portfolio__item--large .portfolio__image {
  margin-bottom: 20px;
  height: 370px;
}
@media (max-width: 1139px) {
  .portfolio__item--large .portfolio__image {
    height: 288px;
  }
}
@media (max-width: 899px) {
  .portfolio__item--large .portfolio__image {
    margin-bottom: 10px;
    height: 180px;
  }
}
.portfolio__item--large .portfolio__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.portfolio__item--large .portfolio__name {
  margin-bottom: 8px;
  font-size: 30px;
}
@media (max-width: 1139px) {
  .portfolio__item--large .portfolio__name {
    margin-bottom: 6px;
    font-size: 24px;
  }
}
@media (max-width: 899px) {
  .portfolio__item--large .portfolio__name {
    margin-bottom: 4px;
    font-size: 18px;
  }
}
.portfolio__item--large .portfolio__descr {
  font-size: 20px;
}
@media (max-width: 1139px) {
  .portfolio__item--large .portfolio__descr {
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .portfolio__item--large .portfolio__descr {
    font-size: 14px;
  }
}

.timeline {
  padding: 70px 0 80px;
}
@media (max-width: 1139px) {
  .timeline {
    padding: 60px 0 38px;
  }
}
@media (max-width: 899px) {
  .timeline {
    padding: 40px 0 50px;
  }
}
@media (max-width: 767px) {
  .timeline {
    padding: 40px 0 40px;
  }
}
.timeline__title {
  margin-bottom: 70px;
  text-align: center;
}
@media (max-width: 1139px) {
  .timeline__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .timeline__title {
    margin-bottom: 40px;
  }
}
.timeline__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 899px) {
  .timeline__items {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .timeline__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.timeline__item {
  width: 50%;
  min-height: 176px;
  position: relative;
}
@media (max-width: 899px) {
  .timeline__item {
    min-height: 160px;
  }
}
@media (max-width: 767px) {
  .timeline__item {
    padding-bottom: 40px;
    width: 100%;
  }
}
.timeline__item:last-child {
  min-height: auto;
}
@media (max-width: 767px) {
  .timeline__item:last-child {
    padding-bottom: 0px;
  }
}
.timeline__box {
  max-width: 450px;
}
@media (max-width: 1139px) {
  .timeline__box {
    max-width: 400px;
  }
}
.timeline__item:nth-child(odd) {
  text-align: end;
  padding-right: 50px;
}
@media (max-width: 1139px) {
  .timeline__item:nth-child(odd) {
    padding-right: 40px;
  }
}
@media (max-width: 899px) {
  .timeline__item:nth-child(odd) {
    -ms-flex-item-align: center;
        align-self: center;
    padding-left: 50px;
    text-align: start;
    padding-right: 0;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.timeline__item:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 50px;
}
@media (max-width: 1139px) {
  .timeline__item:nth-child(even) {
    padding-left: 40px;
  }
}
@media (max-width: 899px) {
  .timeline__item:nth-child(even) {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(even) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.timeline__item:nth-child(odd)::before, .timeline__item:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #e1eef4;
}
.timeline__item:nth-child(odd)::before {
  right: -2px;
}
@media (max-width: 1139px) {
  .timeline__item:nth-child(odd)::before {
    right: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (max-width: 899px) {
  .timeline__item:nth-child(odd)::before {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(odd)::before {
    left: 15px;
  }
}
.timeline__item:nth-child(even)::before {
  left: -2px;
}
@media (max-width: 1139px) {
  .timeline__item:nth-child(even)::before {
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 899px) {
  .timeline__item:nth-child(even)::before {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(even)::before {
    left: 15px;
  }
}
.timeline__item:nth-child(odd)::after, .timeline__item:nth-child(even)::after {
  content: '';
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  background-image: url("./../images/icons/circle.png");
  background-repeat: no-repeat;
  background-size: initial;
}
.timeline__item:nth-child(odd)::after {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media (max-width: 899px) {
  .timeline__item:nth-child(odd)::after {
    left: -15px;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(odd)::after {
    left: 0px;
  }
}
.timeline__item:nth-child(even)::after {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 899px) {
  .timeline__item:nth-child(even)::after {
    left: -15px;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 767px) {
  .timeline__item:nth-child(even)::after {
    left: 0px;
  }
}
.timeline__item:last-child::before {
  display: none;
}
.timeline__items .title-gradient.title-4 {
  background-size: 100% 6px;
  background-position: center bottom 2px;
}
.timeline__subtitle {
  margin-bottom: 6px;
}
.timeline__text {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.375;
}
@media (max-width: 1139px) {
  .timeline__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.timeline__item:nth-child(1) .timeline__text {
  padding-left: 20px;
}
@media (max-width: 899px) {
  .timeline__item:nth-child(1) .timeline__text {
    padding-left: 0;
  }
}
.timeline__item:nth-child(even) .timeline__text {
  max-width: 330px;
}
.timeline__time {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
@media (max-width: 1139px) {
  .timeline__time {
    font-size: 14px;
  }
}

.contacts {
  padding: 70px 0 81px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5FBFF), to(#F5FBFF)), #F4F8F9;
  background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}
@media (max-width: 1139px) {
  .contacts {
    padding: 40px 0 65px;
  }
}
@media (max-width: 899px) {
  .contacts {
    padding: 45px 0 30px;
  }
}
.contacts__title {
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1139px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .contacts__title {
    margin-bottom: 20px;
  }
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 899px) {
  .contacts__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 767px) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__col:first-child {
  position: relative;
  margin-right: 50px;
  max-width: 518px;
  width: 100%;
}
@media (max-width: 1139px) {
  .contacts__col:first-child {
    max-width: 376px;
  }
}
@media (max-width: 899px) {
  .contacts__col:first-child {
    margin-right: 98px;
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  .contacts__col:first-child {
    margin-right: 0;
    margin-bottom: 39px;
    max-width: 100%;
  }
}
.contacts__col:first-child::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -70px;
  width: 448px;
  height: 280px;
  background-image: url("./../images/contacts/dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}
@media (max-width: 1139px) {
  .contacts__col:first-child::before {
    display: none;
  }
}
.contacts__col:first-child .move-quote--small {
  position: absolute;
  bottom: 0;
  left: -80px;
  max-width: 240px;
}
@media (max-width: 1139px) {
  .contacts__col:first-child .move-quote--small {
    display: none;
  }
}
.contacts__col:nth-child(2) {
  position: relative;
}
.contacts__col:nth-child(2)::before {
  content: '';
  position: absolute;
  top: -65px;
  right: -108px;
  width: 448px;
  height: 280px;
  background-image: url("./../images/contacts/dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}
@media (max-width: 1139px) {
  .contacts__col:nth-child(2)::before {
    display: none;
  }
}
.contacts__col:nth-child(2) .move-quote {
  position: absolute;
  right: -100px;
  top: -100px;
  max-width: 280px;
}
@media (max-width: 1139px) {
  .contacts__col:nth-child(2) .move-quote {
    display: none;
  }
}
.contacts__text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.6;
}
@media (max-width: 1139px) {
  .contacts__text {
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .contacts__text {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .contacts__text {
    margin-bottom: 20px;
  }
}
.contacts__social-links {
  position: relative;
  z-index: 1;
}
.contacts__links {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1139px) {
  .contacts__links {
    margin-bottom: 24px;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
}
@media (max-width: 1139px) {
  .contacts__item {
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .contacts__item {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contacts__item span {
  margin-right: 85px;
  min-width: 103px;
  font-weight: 600;
}
@media (max-width: 1139px) {
  .contacts__item span {
    margin-right: 36px;
    min-width: 84px;
  }
}
.contacts__item + .contacts__item {
  margin-top: 22px;
}
@media (max-width: 1139px) {
  .contacts__item + .contacts__item {
    margin-top: 20px;
  }
}
@media (max-width: 899px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */