html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;
    color: var(--main-color);

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    /* sticky footer */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.wrapper>* {
    /* sticky footer */
    flex-shrink: 0;
}

.footer {
    /* sticky footer */
    margin-top: auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;

    &--mobile {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    /* Tablet big */
    @media (max-width: 1139px) {
        width: 900px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        width: 768px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 320px;
    }

    /* Mobile XS */
    // @media (max-width: 320px) {
    //     width: 320px;
    // }
}

.container-small {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;

    /* Mobile */
    @media (max-width: 767px) {
        width: 320px;
    }
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin-left: -10000px;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    clip: rect(0 0 0 0);
    background: transparent;
}

.title-gradient__wrap {
    margin-bottom: 30px;

    @media (max-width: 1139px) {
        margin-bottom: 23px;
    }

    @media (max-width: 899px) {
        margin-bottom: 12px;
    }

    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.title-gradient__wrap .title-gradient {
    // margin: 0 0 20px 0;

    display: inline;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);
}

.title-gradient__wrap .title-gradient.title-1 {
    background-position: center bottom 15px;
    background-size: 100% 12px;

    @media (max-width: 1139px) {
        background-position: center bottom 11px;
        background-size: 100% 10px;
    }

    @media (max-width: 899px) {
        background-position: center bottom 6px;
        background-size: 100% 8px;
    }

    @media (max-width: 767px) {
        background-position: center bottom 4px;
    }
}

.title-gradient__wrap .title-gradient.title-2 {
    background-size: 100% 8px;
    background-position: center bottom 10px;

    @media (max-width: 1139px) {
        background-position: center bottom 7px;
    }

    @media (max-width: 899px) {
        background-position: center bottom 3px;
    }
}


.title-1 {
    max-width: 535px;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;

    @media (max-width: 1139px) {
        font-size: 58px;
    }

    @media (max-width: 899px) {
        font-size: 42px;
    }

    @media (max-width: 767px) {
        font-size: 32px;
    }
}

.title-2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;

    @media (max-width: 1139px) {
        font-size: 42px;
    }

    @media (max-width: 899px) {
        font-size: 32px;
    }
}

.title-3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;

    @media (max-width: 1139px) {
        font-size: 32px;
    }

    @media (max-width: 899px) {
        font-size: 24px;
    }
}

.title-4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;

    @media (max-width: 1139px) {
        font-size: 20px;
    }
}

.logo {
    display: none;
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 1;
    width: 40px;
    height: 40px;

    &__img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    @media (max-width: 899px) {
        display: block;
        pointer-events: none;
    }
}

label.error {
    color: #ff0000;
    font-weight: 600;
    font-size: 14px;
}