:root {
    --main-color: #000000;
    --accent-color: #FBDC4D;
    --bg-color: #EFF7FC;
    --link-color: #1A71D2;
}

%overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}