.form {
    padding: 62px 50px 50px 50px;
    width: 540px;
    height: 449px;
    background-color: #fff;
    box-shadow: 0px 20px 100px rgba(160, 206, 237, 0.75);
    position: relative;
    z-index: 2;

    @media (max-width: 1139px) {
        padding: 44px 30px 40px;
        width: 460px;
        height: 420px;
    }

    @media (max-width: 899px) {
        padding: 44px 30px 40px;
        width: 370px;
        min-height: 410px;
    }

    @media (max-width: 767px) {
        padding: 25px 15px 40px;
        max-width: 100%;
    }

    &__item {
        position: relative;
    }

    &__item:first-child {
        margin-bottom: 42px;

        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    &__item:nth-child(2) {
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 22px;
        }

        .form__fake-placeholder--active {
            @media (max-width: 767px) {
                top: 20px;
            }
        }
    }

    &__fake-placeholder {
        position: absolute;
        display: inline-block;
        top: 8px;
        left: 0;
        color: #9D9D9D;
        font-size: 22px;
        line-height: 1.6;
        pointer-events: none;
        transition: top 0.2s ease;

        @media (max-width: 767px) {
            top: 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
        }
    }

    &__fake-placeholder--active {
        top: -7px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: #ECA73F;

        @media (max-width: 767px) {
            top: -4px;
        }
    }

    &__input {
        padding: 0 5px 0 2px;
        display: block;
        width: 100%;
        height: 53px;
        color: var(--main-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        outline: none;
        border-bottom: solid 2px #e5e5e5;

        @media (max-width: 767px) {
            padding: 0 5px 0px 2px;
            height: 48px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    &__input::placeholder,
    &__textarea::placeholder {
        font-size: 22px;
        line-height: 1.6;
        color: #9D9D9D;

        @media (max-width: 1139px) {
            font-size: 20px;
        }

        @media (max-width: 899px) {
            font-size: 18px;
            line-height: 1.3;
        }

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__input:focus,
    &__input:active,
    &__textarea:focus,
    &__textarea:active {
        border-bottom: solid 2px var(--hover-color);
    }

    &__textarea {
        padding-top: 17px;
        padding-right: 8px;
        min-height: 125px;
        width: 100%;
        color: var(--main-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        resize: none;
        outline: none;
        border-bottom: solid 2px #e5e5e5;


        @media (max-width: 767px) {
            padding-top: 40px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            min-height: 205px;
        }
    }

    &__btn {
        display: inline-block;

        @media (max-width: 767px) {
            display: block;
            width: 100%;
        }
    }
}