.header {
    padding: 60px 0 90px;

    &__nav {
        margin-bottom: 82px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 542px;
        margin-right: 95px;
        padding-top: 10px;
    }

    &__descr {
        margin-bottom: 30px;
        line-height: 1.59;
        max-width: 540px;
    }

    &__links {
        margin-top: auto;
    }

    &__image {
        position: relative;
        flex-basis: 475px;
        flex-shrink: 0;

        &::before {
            content: '';
            position: absolute;
            width: 475px;
            height: 410px;
            left: 40px;
            top: 40px;
            background: rgba(255, 255, 255, 0.5);
            z-index: 0;
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        width: 100%;
        object-fit: cover;
    }

    &__bg {
        max-width: 1440px;
        margin: -155px auto 0 auto;
    }

    &__bg-image {
        // height: 759px;
        object-fit: cover;
        pointer-events: none;
    }

}