.link {
    padding: 19px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    border-radius: 50px;
    background-color: var(--bg-color);

    &--accent {
        background-color: var(--accent-color);
    }
}

.link+.link {
    margin-left: 15px;
}

.social-link {
    color: var(--link-color);
}