.menu-btn {
    display: none;

    @media (max-width: 899px) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // position: fixed;
        // top: 28px;
        // right: 15px;
        width: 40px;
        height: 25px;
        z-index: 999;
        border: none;
        outline: none;
        background-color: transparent;
    }

    span {
        position: absolute;
        width: 100%;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: var(--main-color);
        opacity: 1;
        transition: opacity 0.2s;
    }

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        left: 0;
        background-color: var(--main-color);
        transition: transform 0.2s;
    }

    &::before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.menu-btn--active {
    position: fixed;
    right: 15px;

    span {
        opacity: 0;
    }

    &::before,
    &::after {
        top: 10px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}