.overlay {
    background-color: rgba(37, 73, 116, 0.8);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &--active {
        opacity: 1;
        visibility: visible;
    }
}