.timeline {
    padding: 70px 0 38px;

    @media (max-width: 1139px) {
        padding: 60px 0 38px;
    }

    @media (max-width: 899px) {
        padding: 40px 0 50px;
    }

    @media (max-width: 767px) {
        padding: 40px 0 40px;
    }

    &__title {
        margin-bottom: 70px;
        text-align: center;

        @media (max-width: 1139px) {
            margin-bottom: 50px;
        }

        @media (max-width: 899px) {
            margin-bottom: 40px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media (max-width: 899px) {
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 767px) {
            align-items: flex-start;
        }
    }

    &__item {
        // max-width: 450px;
        // width: 100%;
        width: 50%;
        min-height: 176px;
        position: relative;

        @media (max-width: 899px) {
            min-height: 160px;
        }

        @media (max-width: 767px) {
            padding-bottom: 40px;
            width: 100%;
        }
    }

    &__item:last-child {
        min-height: auto;

        @media (max-width: 767px) {
            padding-bottom: 0px;
        }

    }

    &__box {
        max-width: 450px;

        @media (max-width: 1139px) {
            max-width: 400px;
        }
    }

    &__item:nth-child(odd) {
        text-align: end;
        padding-right: 50px;

        @media (max-width: 1139px) {
            padding-right: 40px;
        }

        @media (max-width: 899px) {
            align-self: center;
            padding-left: 50px;
            text-align: start;
            padding-right: 0;
            padding-left: 40px;
        }

        @media (max-width: 767px) {
            align-self: flex-start;
        }
    }

    &__item:nth-child(even) {
        align-self: flex-end;
        padding-left: 50px;

        @media (max-width: 1139px) {
            padding-left: 40px;
        }

        @media (max-width: 899px) {
            align-self: center;
        }

        @media (max-width: 767px) {
            align-self: flex-start;
        }
    }

    &__item:nth-child(odd)::before,
    &__item:nth-child(even)::before {
        content: '';
        position: absolute;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: #e1eef4;
    }

    &__item:nth-child(odd)::before {
        right: -2px;

        @media (max-width: 1139px) {
            right: 0;
        }

        @media (max-width: 899px) {
            left: 0;
        }

        @media (max-width: 767px) {
            left: 15px;
        }
    }

    &__item:nth-child(even)::before {
        left: -2px;

        @media (max-width: 1139px) {
            left: 0;
        }

        @media (max-width: 767px) {
            left: 15px;
        }
    }

    &__item:nth-child(odd)::after,
    &__item:nth-child(even)::after {
        content: '';
        position: absolute;
        top: 0;
        width: 34px;
        height: 34px;
        background-image: url('./../images/icons/circle.png');
        background-repeat: no-repeat;
        background-size: initial;
    }

    &__item:nth-child(odd)::after {
        right: 0;
        transform: translateX(50%);

        @media (max-width: 899px) {
            left: 0;
            transform: translateX(-50%);
        }

        @media (max-width: 767px) {
            left: 15px;
        }
    }

    &__item:nth-child(even)::after {
        left: 0;
        transform: translateX(-50%);

        @media (max-width: 767px) {
            left: 15px;
        }
    }

    &__item:last-child::before {
        display: none;
    }

    &__items .title-gradient.title-4 {
        background-size: 100% 6px;
        background-position: center bottom 2px;
    }

    &__subtitle {
        margin-bottom: 6px;
    }

    &__text {
        margin-bottom: 2px;
        font-size: 16px;
        line-height: 1.375;

        @media (max-width: 1139px) {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 1.4;
        }
    }

    &__item:nth-child(1) .timeline__text {
        padding-left: 20px;

        @media (max-width: 899px) {
            padding-left: 0;
        }
    }

    &__item:nth-child(even) .timeline__text {
        max-width: 330px;
    }

    &__time {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;

        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }
}